:root {
  /* Colores principales */
  --color-fondo-main: #1c1c1c; /* Color de fondo para .main */
  --color-fondo-circulo: #fff; /* Color de fondo para .circulo */
  --color-fondo-gris: #f6f6f6; /* Color de fondo gris utilizado en múltiples clases */
  --color-borde-circulo: #666666; /* Color de borde para .circulo */
  --color-fondo-boton: #1976d2; /* Color de fondo para .bloque-btn */
  --color-hover-boton: #75baff; /* Color de fondo al pasar el ratón sobre .bloque-btn */
  --color-fondo-boton-ven: #69c752; /* Color de fondo para .bloque-btn-ven */
  --color-hover-boton-ven: #79eb6e; /* Color de fondo al pasar el ratón sobre .bloque-btn-ven */
  --color-fondo-prop: #e0e0e0; /* Color de fondo para .prop y .filtrado */
  --color-naranja: #ff5e00;
  --color-letras: #ffffff;
  --fondo-trasparente: #00000080;;
}

.hidden {
  display: none;
}

.main {
  background-color: var(--color-fondo-main);
  grid-area: main;
  display: grid;
}

.circulo {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: var(--color-fondo-circulo);
  border: 4px solid var(--color-borde-circulo);
  box-sizing: border-box;
  padding: 10px;
}

.titulo h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centro horizontal */
  background-color: var(--color-fondo-gris);
  border-radius: 10px; /* Bordes redondeados */
  padding: 15px; /* Espacio alrededor del contenedor */
  margin-top: 5px; /* Espacio superior */
  margin-bottom: 5px; /* Espacio inferior */
}

/* -------------------------- Estilos para la sección "Estadisticas"------- */

.estadísticas-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "a1 a1 a1 a2"
    "a1 a1 a1 a2"
    "a3 a4 a5 a6";
  width: 100%; /* Toma todo el ancho de la página */
}
.est:nth-child(1) {
  grid-area: a1;
}
.est:nth-child(2) {
  grid-area: a2;
}
.est:nth-child(3) {
  grid-area: a3;
}
.est:nth-child(4) {
  grid-area: a4;
}
.est:nth-child(5) {
  grid-area: a5;
}
.est:nth-child(6) {
  grid-area: a6;
}

.est {
  background-color: var(--color-fondo-gris);
  border-radius: 10px; /* Bordes redondeados */
  padding: 10px; /* Espacio alrededor del contenedor */
  margin: 10px; /* Espacio inferior */
}

/* car c6 botones */

.a6 {
  display: flex;
  flex-direction: column; /* Alinea los elementos verticalmente */
}

/* ---------------------- propietarios ---------------------------- */

.propietarios-section {
  display: grid;
  gap: 20px;
}

.botones-bloque {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centro horizontal */
  background-color: var(--color-fondo-gris); /* Color de fondo gris */
  border-radius: 10px; /* Bordes redondeados */
  padding: 15px; /* Espacio alrededor del contenedor */
  margin-top: 5px; /* Espacio superior */
  margin-bottom: 5px; /* Espacio inferior */
}

.bloque-btn {
  background-color: var(--color-fondo-boton); /* Color de fondo del botón */
  color: var(--color-letras); /* Color del texto del botón */
  font-size: 17px; /* Ajustamos el tamaño del texto */
  border: none;
  border-radius: 10px; /* Borde redondeado del botón */
  padding: 20px 20px; /* Espaciado interno del botón */
  margin-bottom: 20px; /* Espacio entre botones */
  margin-right: 20px; /* Espacio entre botones */
  cursor: pointer;
  transition: background-color 0.3s ease-in-out; /* Transición suave */
  display: flex; /* Para que el contenido del botón sea flexible */
  align-items: center; /* Para alinear verticalmente el contenido del botón */
}
.bloque-btn-ven {
  background-color: var(--color-fondo-boton-ven); /* Color de fondo del botón */
  color: var(--color-letras); /* Color del texto del botón */
  font-size: 17px; /* Ajustamos el tamaño del texto */
  border: none;
  border-radius: 10px; /* Borde redondeado del botón */
  padding: 20px 20px; /* Espaciado interno del botón */
  margin-bottom: 20px; /* Espacio entre botones */
  margin-right: 20px; /* Espacio entre botones */
  cursor: pointer;
  transition: background-color 0.3s ease-in-out; /* Transición suave */
  display: flex; /* Para que el contenido del botón sea flexible */
  align-items: center; /* Para alinear verticalmente el contenido del botón */
}


.bloque-btn:hover {
  background-color: var(--color-hover-boton); /* Color de fondo del botón al pasar el ratón */
}
.bloque-btn-ven:hover {
  background-color: var(--color-hover-boton-ven); /* Color de fondo del botón al pasar el ratón */
}

/* Estilos para los select */
select {
  width: 100%; /* Ocupa todo el ancho disponible */
  padding: 5px; /* Añade espacio interno alrededor del texto dentro del select */
  border: 1px solid var(--color-fondo-main); /* Borde del select */
  border-radius: 10px; /* Bordes redondeados */
  box-sizing: border-box; /* Incluye el borde y el relleno en el ancho total */

  background-color: var(--color-fondo-circulo); /* Color de fondo */
}

.icon-container {
  margin-right: 10px; /* Espacio entre el icono y el texto del botón */
  font-size: 30px;
}

.prop {
  background-color: var(--color-fondo-gris);
  border-radius: 10px; /* Bordes redondeados */
  padding: 10px; /* Espacio alrededor del contenedor */
  margin: 10px; /* Espacio inferior */
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-6 {
  flex: 0 0 33.333%;
  max-width: 33.333%;
}
.contenido {
  display: flex;
  align-items: center;
}

.bloque-horizontal-feb {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bloque_feb {
  width: 40%; /* Calculamos el ancho para que sea el 50% del contenedor padre */
  background-color: var(--color-borde-circulo);
  border-radius: 10px;
  padding: 5px;
  margin: 5px 5px;
  flex-grow: 1; /* Permitimos que los bloques se expandan para llenar el espacio */
  box-sizing: border-box; /* Incluimos el padding y el border en el ancho total */
}


/* Estilos para el contenedor principal */
.bloque-horizontal {
  display: flex; /* Utiliza flexbox para dividir en dos bloques horizontales */
  justify-content: space-between; /* Distribuye los elementos horizontalmente */
  align-items: flex-start; /* Alinea los elementos verticalmente en la parte superior */
}

.detalle_info {
  width: 48%;
  background-color: var(--color-fondo-circulo);
  border-radius: 10px; /* Bordes redondeados */
  padding: 10px; /* Espacio alrededor del contenedor */
  margin: 10px; /* Espacio inferior */
}

/* Estilos para cada bloque horizontal */
.filtrado,
.resumen-cuentas {
  width: 48%; /* Ancho de cada bloque */
}
.filtrado {
  background-color: var(--color-fondo-prop);
  border-radius: 10px; /* Bordes redondeados */
  padding: 15px; /* Espacio alrededor del contenedor */
  margin: 10px;
}
.search-form {
  display: flex;
  flex-wrap: wrap;
}

.form-row {
  width: 50%; /* Cada fila toma el 50% del ancho */
  padding-right: 2px; /* Espacio entre los elementos */
  box-sizing: border-box;
}
.styled-select {
  /* Estilos para el elemento select */
  width: 100%;
  padding: 7px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid var(--color-fondo-main);
  border-radius: 10px;
  box-sizing: border-box;
}

.form-row:last-child {
  margin-left: auto; /* Espacio a la derecha del botón */
  margin-right: auto; /* Espacio a la izquierda del botón */
  margin-bottom: 8px; /* Espacio debajo del último elemento */
  align-self: flex-end; /* Alinea el botón al final de la fila */
}

.resumen-cuentas {
  background-color: var(--color-fondo-circulo);
  border-radius: 10px; /* Bordes redondeados */
  padding: 5px; /* Espacio alrededor del contenedor */
  margin: 10px; /* Espacio inferior */
}

.resumen-cuentas h2,
.resumen-cuentas li {
  padding: 0px 0px 0px 15px; /* Espacio alrededor del contenedor */
}

.scrollable-content {
  max-height: 133px; /* Ajusta la altura máxima según sea necesario */
  border-radius: 10px; /* Bordes redondeados */
  overflow-y: auto;
  margin: 10px;
  background-color: var(--color-fondo-circulo); /* Color de fondo gris */
}

.button-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.button-column .boton_edit {
  width: 40%; /* Ancho de cada botón */
  margin-bottom: 2px; /* Espacio entre botones */
}


.contenedor-lista-formulario {
  justify-content: center;
  padding: 5px;
}

.cartas-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.carta {
  border-radius: 10px;
  background-color: var(--color-fondo-circulo);
  display: flex;
  flex-direction: column;
  margin: 5px;
  display: flex;
}

.carta li,
.detalle_items li {
  padding: 0px 0px 0px 15px; /* Espacio alrededor del contenedor */
}

/* Estilo para el formulario */
.detalle {
  background-color: var(--color-fondo-circulo);
  border-radius: 10px; /* Bordes redondeados */
  padding: 10px; /* Espacio alrededor del contenedor */
  margin: 10px; /* Espacio inferior */
}

/* Estilo para el formulario */
.detalle_items {
  display: flex; /* Usar Flexbox */
  justify-content: space-between; /* Espacio entre los elementos */
  background-color: var(--color-fondo-circulo);
  border-radius: 10px; /* Bordes redondeados */
  padding: 10px; /* Espacio alrededor del contenedor */
  margin: 10px; /* Espacio inferior */
  flex-direction: column;
}

/* Ajustar el contenido de los divs internos */
.detalle_items > div {
  flex: 1; /* Que cada div ocupe la misma cantidad de espacio */
}

.contenedor-lista-pendiente {
  width: 100%;
  display: flex;
}
.contenedor-lista-pendiente > div {
  flex: 1; /* Distribuye el espacio disponible entre los contenedores hijos */
  box-sizing: border-box; /* Incluye el padding en el ancho total */
}

.detalle_bus {
  background-color: var(--color-fondo-circulo);
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}


.cont_boton {
  display: flex;
  flex-direction: column; /* Centra verticalmente el contenido */
}

/* Estilos para los elementos dentro de .cont_boton */
.cont_boton > * {
  margin-top: 3px; /* Espacio entre los elementos */
}

.cont_boton i {
  font-size: 30px; /* Ajustamos el tamaño del icono */
  margin-right: 10px; /* Espacio entre el icono y el texto */
}



/* Estilo para el formulario */
.formulario {
  flex-grow: 1; /* El formulario ocupará el espacio restante */
  background-color: var(--color-fondo-prop);
  border-radius: 10px; /* Bordes redondeados */
  padding: 15px; /* Espacio alrededor del contenedor */
  margin: 5px; /* Espacio inferior */
}

/* Estilo para el contenedor de botones */
.botones-container {
  display: flex; /* Mostrar los botones en línea horizontalmente */
  justify-content: flex-end; /* Alinear los botones al final del contenedor */
}

.texto {
  flex: 80%; /* Ocupa el 70% del espacio */
  font-size: 16px; /* Ajustamos el tamaño del texto */
  line-height: 1; /* Reducimos el espacio entre líneas */
  overflow: auto; /* Agregar scroll si el contenido excede el tamaño */
}
.texto p {
  line-height: 0.5; /* Aplicamos el espacio entre líneas específicamente a los elementos p dentro de .texto */
}

.estado_propietario {
  color: var(--color-naranja);
}


.boton {
  background-color: var(--color-fondo-boton);
  color: var(--color-letras); /* Color azul para el texto y el icono */
  border: none; /* Quitamos el borde */
  border-radius: 10px; /* Borde redondeado del botón */
  padding: 15px 15px; /* Espaciado interno del botón */
  font-size: 20px; /* Ajustamos el tamaño del texto */
  cursor: pointer;
  transition: color 0.3s ease-in-out; /* Transición suave */
  display: flex; /* Para alinear el icono con el texto */
  align-items: center; /* Centra verticalmente el contenido */
  justify-content: center;
  height: 100%;
  margin-right: 5px;
}

.boton:hover {
  background-color: var(--color-hover-boton);
}

.boton_edit {
  background-color: var(--color-fondo-boton);
  color: var(--color-letras); /* Color azul para el texto y el icono */
  border: none; /* Quitamos el borde */
  border-radius: 10px; /* Borde redondeado del botón */
  padding: 8px 20px; /* Espaciado interno del botón */
  font-size: 16px; /* Ajustamos el tamaño del texto */
  cursor: pointer;
  transition: color 0.3s ease-in-out; /* Transición suave */
  display: flex; /* Para alinear el icono con el texto */
  align-items: center; /* Centra verticalmente el contenido */
  justify-content: center;
  margin: 5px 5px;
  box-sizing: border-box;
}

  /* Estilos para el icono dentro del botón */
  .boton_edit i {
    margin-right: 5px; /* Espacio a la derecha del icono */
  }

  /* Cambiar color de fondo al pasar el ratón */
  .boton_edit:hover {
    background-color: var(--color-hover-boton); /* Color de fondo del botón al pasar el ratón */
  }


/* Estilos para el modal de edición de propietarios */
.modal {
  display: none; /* Por defecto, el modal está oculto */
  position: fixed; /* Permite que el modal esté posicionado encima del contenido */
  z-index: 1000; /* Asegura que el modal esté encima de otros elementos */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Permite el desplazamiento si el contenido del modal es demasiado grande */
  background-color: var(--fondo-trasparente); /* Fondo semi-transparente para enfocar la atención en el modal */
}

.modal-content {
  background-color: var(--color-fondo-circulo); /* Fondo del modal */
  margin: 5% auto; /* Centra el modal verticalmente y lo desplaza un poco hacia la derecha */
  padding: 20px;
  border: 1px solid var(--color-fondo-prop); /* Borde del modal */
  border-radius: 10px;
  width: 50%; /* Ancho del modal */
  max-width: 600px; /* Ancho máximo del modal */
}

.close {
  color: var(--color-fondo-main);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--color-fondo-boton);
  text-decoration: none;
  cursor: pointer;
}

/* Estilos para los campos del formulario en el modal */
label {
  margin-top: 10px;
  display: block;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="file"]{
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid var(--color-fondo-main);
  border-radius: 4px;
  box-sizing: border-box;
}

.bancos {
  display: flex; /* Hace que los elementos dentro del contenedor se muestren en línea horizontal */
  flex-wrap: wrap; /* Permite que los elementos se envuelvan a la siguiente línea si no caben en una sola línea */
}

.bancos label,
.bancos input[type="text"],
.bancos input[type="number"],
.bancos select {
  width: calc(50% - 5px); /* Calcula la mitad del ancho disponible */
  margin-right: 5px; /* Añade un pequeño espacio entre cada elemento */
  margin-bottom: 5px; /* Añade un pequeño espacio entre cada fila */
}



ul {
  list-style-type: none;
  padding: 0;
}
li {
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 10px; /* Borde redondeado del botón */
  background-color: var(--color-fondo-prop);
  cursor: pointer;
}
.estructura {
  display: flex; /* Hacemos que los elementos estén en línea */
}
.btn-container {
  display: flex; /* Hacemos que los botones estén en línea */
  margin-left: auto; /* Mueve los botones al extremo derecho */
}

.boton_subir {
  background-color: var(--color-naranja);
  color: var(--color-letras); /* Color azul para el texto y el icono */
  border: none; /* Quitamos el borde */
  border-radius: 10px; /* Borde redondeado del botón */
  padding: 5px 20px; /* Espaciado interno del botón */
  margin: 0 5px; /* Espacio entre los botones */
  font-size: 16px; /* Ajustamos el tamaño del texto */
  cursor: pointer;
  transition: color 0.3s ease-in-out; /* Transición suave */
  display: flex; /* Para alinear el icono con el texto */
  align-items: center; /* Centra verticalmente el contenido */
  justify-content: center;
  box-sizing: border-box;
}
.boton_bajar {
  background-color: var(--color-fondo-boton-ven);
  color: var(--color-letras); /* Color azul para el texto y el icono */
  border: none; /* Quitamos el borde */
  border-radius: 10px; /* Borde redondeado del botón */
  padding: 5px 20px; /* Espaciado interno del botón */
  font-size: 16px; /* Ajustamos el tamaño del texto */
  cursor: pointer;
  transition: color 0.3s ease-in-out; /* Transición suave */
  display: flex; /* Para alinear el icono con el texto */
  align-items: center; /* Centra verticalmente el contenido */
  justify-content: center;
  box-sizing: border-box;
}


@media screen and (max-width: 1000px) {
  .sidebar {
    display: block;
    width: 100%; /* Ajusta el ancho de la barra lateral en dispositivos más pequeños */
    transition: none; /* Desactiva la transición para dispositivos más pequeños */
  }

  .estadísticas-section {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: "a1" "a2" "a3" "a4" "a5" "a6";
  }
  .a1 {
    height: 400px;
  }

  .a2 {
    width: 90%;
    height: 400px;
  }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .bloque_feb {
    width: 100%; /* Calculamos el ancho para que sea el 50% del contenedor padre */
  }
  /* Estilo para el contenedor de botones */
  .contenido {
    display: grid;
    justify-content: stretch; /* Alinear horizontalmente a la izquierda */
    flex-direction: column; /* Cambiamos la dirección de los elementos a vertical */
  }
  .scrollable-content {
    max-height: 170px; /* Ajusta la altura máxima según sea necesario */
  }
}
