<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesEdi.css') }}">
    <title>Inicio Edificios</title>
</head>

<body>

    <!-- Contenido principal -->
    <header class="header">
        <div class="icon">
            <i class="fas fa-code"></i>
        </div>
        <div class="text">
            <h1>Domy<span>clip</span></h1>
            <h2>Profesionales en finansas y technologia</h2>
        </div>
        <div class="icon">
            <i class="fas fa-user"></i>
            <h2>{{ session['username'] }}</h2>
        </div>
        <div class="icon">
            <a href="{{ url_for('logout') }}">
                <i class="fas fa-sign-out-alt"></i>
                <h2>Salir</h2>
            </a>
        </div>

    </header>




    <!-- Sección de Botones -->
    <div class="insights">
        <!-- Botones -->
        {% for edificio in edificios %}
        <a href="{{ url_for('estadisticas', edificio_id=edificio[0]) }}" class="card card-{{ loop.index }}">
            <div class="icon-container">
                <i class="fas fa-building"></i>
            </div>
            <div class="info">
                <h3>{{ edificio[1] }}</h3> <!-- Acceder al nombre del edificio -->
                <p class="id">ID: {{ edificio[0] }}</p> <!-- Acceder al ID del edificio -->
                <p class="apartamentos">Apartamentos: {{ edificio[2] }}</p> <!-- Acceder al número de apartamentos -->
                <p class="direccion">Dirección: {{ edificio[3] }}</p> <!-- Acceder a la dirección del edificio -->
                <p class="nit">NIT: {{ edificio[4] }}</p> <!-- Acceder al NIT del edificio -->
            </div>
        </a>
        {% endfor %}
    </div>
    <!-- Nuevo Card para crear un nuevo edificio -->
    <div class="card card-new-building">
        <div class="icon-container">
            <i class="fas fa-plus-circle"></i>
        </div>
        <div class="info">
            <h3>Crear Nuevo Edificio</h3>
            <p class="description">Haz clic para crear un nuevo edificio</p>
        </div>
    </div>
<!-- Modal para crear un nuevo edificio -->
<div id="modal-new-building" class="modal">
    <!-- Contenido del modal -->
    <div class="modal-content">
        <!-- Botón para cerrar el modal -->
        <span class="close" onclick="closeModal()">&times;</span>
        <!-- Título del modal -->
        <h2>Crear Nuevo Edificio</h2>
        <!-- Formulario para ingresar la información del edificio -->
        <form action="/crear_edificio" method="POST" class="building-form">
            <!-- Campos del formulario -->
            <label for="nombre-edificio">Nombre del Edificio:</label>
            <input type="text" id="nombre-edificio" name="nombre-edificio" placeholder="Nombre completo con P.H, Condominio, loft, etc" required>

            <label for="direccion">Dirección:</label>
            <input type="text" id="direccion" name="direccion" placeholder="Ejemplo: Calle 1 # 33-01" required>

            <label for="telefono-porteria">Teléfono de Portería:</label>
            <input type="text" id="telefono-porteria" name="telefono-porteria" placeholder="Ejemplo: 300 300 55 55" required>

            <label for="nit">NIT:</label>
            <input type="text" id="nit" name="nit" placeholder="Ejemplo: 800000000-1" required>

            <label for="porcentaje-interes">Porcentaje de Interés a Deudores:</label>
            <input type="text" id="porcentaje-interes" name="porcentaje-interes" placeholder="Ejemplo: 0,15 (Pocentaje en expresión matemática)" required>
        
            <div class="bancos">
                <label for="banco1">Banco 1:</label>
                <input type="text" id="banco1" name="banco1" placeholder="Nombre del Banco" required>
                <input type="number" id="banco1_num" name="banco1_num" placeholder="#Cuenta Eje: 910-100000-00" required>
                <select name="banco1_tipo" id="banco1_tipo" required>
                    <option value="ahorros">Ahorros</option>
                    <option value="corriente">Corriente</option>
                </select>
                <label for="banco2">Banco 2:</label>
                <input type="text" id="banco2" name="banco2" placeholder="Nombre del Banco">
                <input type="number" id="banco2_num" name="banco2_num" placeholder="#Cuenta Eje: 910-100000-00">
                <select name="banco2_tipo" id="banco2_tipo">
                    <option value="ahorros">Ahorros</option>
                    <option value="corriente">Corriente</option>
                </select>
                <label for="banco3">Banco 3:</label>
                <input type="text" id="banco3" name="banco3" placeholder="Nombre del Banco">
                <input type="number" id="banco3_num" name="banco3_num" placeholder="#Cuenta Eje: 910-100000-00">
                <select name="banco3_tipo" id="banco3_tipo">
                    <option value="ahorros">Ahorros</option>
                    <option value="corriente">Corriente</option>
                </select>
                <label for="banco4">Banco 4:</label>
                <input type="text" id="banco4" name="banco4" placeholder="Nombre del Banco">
                <input type="number" id="banco4_num" name="banco4_num" placeholder="#Cuenta Eje: 910-100000-00">
                <select name="banco4_tipo" id="banco4_tipo">
                    <option value="ahorros">Ahorros</option>
                    <option value="corriente">Corriente</option>
                </select>
            </div>

            <p>Utiliza los botones para mover las estrcutura de cobros:</p>
            
            <ul id="sortable">
                <li>
                    <div class="estructura">
                        <label for="estrucRC1">CobroJuridico</label>
                        <div class="btn-container">
                            <button class="boton_subir" onclick="moveUp(this.parentNode.parentNode.parentNode)">Subir</button>
                            <button class="boton_bajar" onclick="moveDown(this.parentNode.parentNode.parentNode)">Bajar</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="estructura">
                        <label for="estrucRC2">Multa</label>
                        <div class="btn-container">
                            <button class="boton_subir" onclick="moveUp(this.parentNode.parentNode.parentNode)">Subir</button>
                            <button class="boton_bajar" onclick="moveDown(this.parentNode.parentNode.parentNode)">Bajar</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="estructura">
                        <label for="estrucRC3">Intereses</label>
                        <div class="btn-container">
                            <button class="boton_subir" onclick="moveUp(this.parentNode.parentNode.parentNode)">Subir</button>
                            <button class="boton_bajar" onclick="moveDown(this.parentNode.parentNode.parentNode)">Bajar</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="estructura">
                        <label for="estrucRC4">Administracion</label>
                        <div class="btn-container">
                            <button class="boton_subir" onclick="moveUp(this.parentNode.parentNode.parentNode)">Subir</button>
                            <button class="boton_bajar" onclick="moveDown(this.parentNode.parentNode.parentNode)">Bajar</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="estructura">
                        <label for="estrucRC5">Parqueaderos</label>
                        <div class="btn-container">
                            <button class="boton_subir" onclick="moveUp(this.parentNode.parentNode.parentNode)">Subir</button>
                            <button class="boton_bajar" onclick="moveDown(this.parentNode.parentNode.parentNode)">Bajar</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="estructura">
                        <label for="estrucRC6">Retroactivos</label>
                        <div class="btn-container">
                            <button class="boton_subir" onclick="moveUp(this.parentNode.parentNode.parentNode)">Subir</button>
                            <button class="boton_bajar" onclick="moveDown(this.parentNode.parentNode.parentNode)">Bajar</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="estructura">
                        <label for="estrucRC7">Extra</label>
                        <div class="btn-container">
                            <button class="boton_subir" onclick="moveUp(this.parentNode.parentNode.parentNode)">Subir</button>
                            <button class="boton_bajar" onclick="moveDown(this.parentNode.parentNode.parentNode)">Bajar</button>
                        </div>
                    </div>
                </li>
            </ul>

            <!-- Botón para enviar el formulario -->
            <button class="boton_edit" type="submit">Crear Edificio</button>
        </form>
    </div>
</div>

<script>
    // Función para abrir el modal
    function openModal() {
        var modal = document.getElementById('modal-new-building');
        modal.style.display = 'block';
    }

    // Función para cerrar el modal
    function closeModal() {
        var modal = document.getElementById('modal-new-building');
        modal.style.display = 'none';
    }

    // Event listener para abrir el modal cuando se hace clic en el card
    document.addEventListener('DOMContentLoaded', function () {
        var newBuildingCard = document.querySelector('.card-new-building');
        newBuildingCard.addEventListener('click', function () {
            openModal();
        });
    });

    function moveUp(item) {
        if (item.previousElementSibling !== null) {
            item.parentNode.insertBefore(item, item.previousElementSibling);
        }
    }

    function moveDown(item) {
        if (item.nextElementSibling !== null) {
            item.parentNode.insertBefore(item.nextElementSibling, item);
        }
    }
</script>


</body>

</html>