<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>dashboard control</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-xxxxxx" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">

    <!--
    <link rel="stylesheet" href="styles.css">
    <link rel ="stylesheet" href="sidebar.css">
    <link rel ="stylesheet" href="header.css">
    <script src="Graficas.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
-->
    <link rel="stylesheet" href="{{ url_for('static', filename='Dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='header_sidebar.css') }}">
    <script src="{{ url_for('static', filename='Graficas.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>
    <header class="header">
        <!-- Menú lateral -->
        <div class="top-menu">
            <div class="Version">
                <h4>Dashboard de bienes raices</h4>
            </div>
            <div class="logo">
                <i class="fas fa-code"></i>
                <h3>DomyClip</h3>
            </div>
            <div class="icon">
                <i class="fas fa-user"></i>
                <h3>{{ session['username'] }}</h3>
            </div>
        </div>
    </header>

    <main class="main">
        <div class="circulo">
            <div class="propietarios-section">
                <!-- Contenido de la sección "Terreno" -->
                <div class="prop b1">
                    <div class="bloque-horizontal">
                        
                        <div class="filtrado">
                            <!-- Formulario de filtrado -->
                            <h2>Editar Cuentas por cobrar Pendientes</h2>
                            <p>Utiliza uno o varios recuadros para realizar búsquedas. Puedes filtrar por diferentes criterios para encontrar la información precisa. Completa los campos y presiona el botón "Buscar listado".</p>
                            <form action="/pendiente/{{ edificio_id }}" method="get" class="search-form">
                                <input type="hidden" name="estado" value="Pendiente">
                                <div class="form-row">
                                    <label for="tipo_cuenta">Tipo de búsqueda:</label>
                                    <select name="tipo_cuenta" id="tipo_cuenta" class="styled-select">
                                        <option value="CXC_AMD">AMD Cuentas por Cobrar</option>
                                        <option value="RC_AMD">AMD Resivo de caja</option>
                                        <option value="CXC_ZC">ZC Cuentas por Cobrar</option>
                                        <option value="RC_ZC">ZC Resivo de caja</option>
                                    </select>
                                </div>
                                <div class="form-row">
                                    <label for="user_id">Usuario ID:</label>
                                    <input type="number" id="user_id" name="user_id" placeholder="ID del usuario" class="styled-input">
                                </div>
                                <div class="form-row">
                                    <label for="fecha_emision">Fecha de Emisión:</label>
                                    <input type="date" id="fecha_emision" name="fecha_emision" class="styled-input">
                                </div>
                                <div class="form-row">
                                    <button class="boton_edit" type="submit" class="styled-input">
                                        <i class="fas fa-search"></i>
                                        Buscar listado
                                    </button>
                                </div>
                            </form>
                        </div>
                        
                        
                        <div class="resumen-cuentas">
                            <form action="/contabilizar_lista_cxc" method="post" class="form-container">
                                <div class="content-column">
                                    <h2>Resumen pendientes</h2>
                                    <div class="scrollable-content">
                                        {% for cuenta in cuentas_por_cobrar %}
                                            <input type="hidden" name="lista_cxc" value="{{ cuenta.id_CXC }}-{{ cuenta.user_id }}"> 
                                            <li> Cuenta por cobrar: {{ cuenta.id_CXC }} </li>
                                        {% endfor %}
                                    </div>
                                    <!-- Campo oculto para enviar el edificio_id si es necesario -->
                                    <input type="hidden" name="edificio_id" value="{{ edificio_id }}"> 
                                </div>
                                <div class="button-column">
                                    <button class="boton_edit" type="submit" name="accion" value="contabilizar">
                                        <i class="far fa-file"></i>
                                        Contabilizar todas las pendientes
                                    </button>
                                    <button class="boton_edit" type="submit" name="accion" value="enviar">
                                        <i class="fas fa-paper-plane"></i>
                                        Contabilizar y enviar todo
                                    </button>
                                    <button class="boton_edit" type="submit" name="accion" value="eliminar">
                                        <i class="far fa-file"></i>
                                        Eliminar todas lo pendiente
                                    </button>
                                    <button class="boton_edit" type="submit" name="accion" value="descargar">
                                        <i class="fas fa-download"></i>
                                        Contabilizar y descargar
                                    </button>
                                </div>
                            </form>
                        </div>                        
                    </div>
                    <div class="bloque-horizontal-feb">
                        <!-- Mostrar cuentas por cobrar -->
                        {% for cuenta in cuentas_por_cobrar %}
                        <div class="bloque_feb">
                            <div class="detalle_bus">
                                <div class="texto">
                                    <h2>Cuenta por cobrar: 0{{ cuenta.id_CXC }}</h2>
                                    <p>Fecha Emisión: {{ cuenta.fecha_emision }} </p>
                                    <p>Fecha Vencimiento: {{ cuenta.fecha_vencimiento }}</p>
                                    <p>Correo: {{ cuenta.correo }}</p>
                                    <p class="estado_propietario">Estado: {{ cuenta.estado }}</p>
                                </div>
                                <div class="texto">
                                    <h2>Propietario</h2>
                                    <p>{{ cuenta.usuario }}</p>
                                    <p>Apartamento: {{ cuenta.apto }}</p>
                                    <p>Bloque: {{ cuenta.bloque }}</p>
                                    <p>Usuario ID: {{ cuenta.user_id }}</p>
                                </div>
                                <div class="cont_boton">
                                    <form action="/cambio_estado" method="post">
                                        <input type="hidden" name="cuenta" value="CXC">
                                        <input type="hidden" name="id_cuenta" value="{{ cuenta.id_CXC }}">
                                        <input type="hidden" name="user_id" value="{{ cuenta.user_id }}">
                                        <input type="hidden" name="edificio_id" value="{{ edificio_id }}">
                                        <input type="hidden" name="pagina" value="pendiente">
                                        <input type="hidden" name="estado" value="Contabilizado"> 
                                        <button class="boton" type="submit">
                                            <i class="fas fa-check"></i> <!-- Icono para contabilizar -->
                                            Contabilizar
                                        </button>
                                    </form>
                                    <form action="/eliminar_cxc" method="post">
                                        <input type="hidden" name="id_CXC" value="{{ cuenta.id_CXC }}">
                                        <input type="hidden" name="user_id" value="{{ cuenta.user_id }}">
                                        <input type="hidden" name="edificio_id" value="{{ edificio_id }}"> 
                                        <button class="boton" type="submit">
                                            <i class="fas fa-trash"></i> <!-- Icono para eliminar -->
                                            Eliminar CXC
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <!--<h3>Items:</h3> -->
                            <div class="contenedor-lista-pendiente">
                                <div>
                                    {% for detalle in cuenta.detalles %}
                                    <div class="detalle_items">
                                          <li>
                                            <!-- {{ detalle.tipo }}, -->
                                            {{ detalle.descripcion }}
                                          </li>
                                          <li>
                                            Monto: {{ detalle.monto }}
                                            <!-- Pagado: {{ detalle.pagado }},
                                            Total: {{ detalle.total }} -->
                                          </li>
                                        <div class="botones-container">
                                          <!-- Botón para abrir el modal -->
                                          <button class="boton_edit" onclick="abrirModalEditarDetalle('{{ detalle.detalle_id }}', '{{ detalle.descripcion }}', '{{ detalle.monto }}')">
                                            <i class="fas fa-edit"></i>Editar item
                                          </button>                                        
                                          <div class="eliminar-form-container">
                                            <form action="/eliminar_detalle_cxc" method="post">
                                              <input type="hidden" name="detalle_id" value="{{ detalle.detalle_id }}"> <!-- Asegúrate de tener un campo para el ID del detalle -->
                                              <input type="hidden" name="edificio_id" value="{{ edificio_id }}"> 
                                              <button class="boton_edit" type="submit"><i class="fas fa-trash"></i>Eliminar item</button>
                                            </form>
                                          </div>
                                        </div>
                                    </div>
                                    {% endfor %}                                
                                </div>
                                <div class="detalle">
                                    <!-- Formulario para añadir detalles -->
                                    <form action="/crear_deuda" method="post" onsubmit="validarFormulario(event)">
                                        <h3>Añadir item a la CXC</h3>
                                        <div class="formulario_pen">
                                            <input type="hidden" name="id_CXC" value="{{ cuenta.id_CXC }}">
                                            <input type="hidden" name="user_id" value="{{ cuenta.user_id }}">
                                            <input type="hidden" name="estado" value="pendiente">
                                            <input type="hidden" name="edificio_id" value="{{ edificio_id }}"> 
                                            <input type="text" name="descripcion" placeholder="Descripción del item">
                                            <input type="number" name="monto" placeholder="Monto del item">
                                            <div class="botones-container">
                                                <button class="boton_edit" type="submit" name="tipo" value="Multa">
                                                  <i class="fas fa-plus"></i>
                                                  Agregar Multa
                                                </button>
                                                <button class="boton_edit" type="submit" name="tipo" value="Extra">
                                                  <i class="fas fa-plus"></i>
                                                  Agregar Cuota Extra
                                                </button>
                                                <button class="boton_edit" type="submit" name="tipo" value="Retroactivos">
                                                  <i class="fas fa-plus"></i>
                                                  Retroactivos
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>              
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </main>

    <section class="sidebar">
        <div class="menu">
            <a href="/estadisticas/{{ edificio_id }}" class="enlace">
                <i class="fas fa-chart-pie"></i>
                <span>Estadísticas</span>
            </a>                     
            <a href="/propietarios/{{ edificio_id }}" class="enlace">
                <i class="fas fa-home"></i>
                <span>Propietarios</span>
            </a>
            <a href="/cobros/{{ edificio_id }}" class="enlace">
                <i class="fas fa-money-check-alt"></i>
                <span>Cobros</span>
            </a>
            <a href="/pagos/{{ edificio_id }}" class="enlace">
                <i class="fas fas fa-credit-card"></i>
                <span>pagos</span>
            </a>
            <a href="/pendiente/{{ edificio_id }}" class="enlace activo">
                <i class="fas fa-tasks"></i>
                <span>Pendiente</span>
            </a>
            <a href="/contabilizado/{{ edificio_id }}" class="enlace">
                <i class="fas fa-book"></i>
                <span>Contabilizado</span>
            </a>
            <a href="/informes/{{ edificio_id }}" class="enlace">
                <i class="fas fa-file-alt"></i>
                <span>Informes</span>
            </a>
            <a href="/configuracion/{{ edificio_id }}" class="enlace">
                <i class="fas fa-cogs"></i>
                <span>Configuración</span>
            </a>            

            <div class="enlace" onclick="webdomotycort()">
                <i class="fas fa-globe"></i>
                <span>Nosotros</span>
            </div>
            <div class="cerrar">
                <a href="{{ url_for('logout') }}">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Cerrar Sesión</span>
                </a>
            </div>
        </div>
    </section>

    <!-- Modal para editar detalle de CXC -->
    <div id="editarDetalleModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="cerrarModalEditarDetalle()">&times;</span>
            <h2>Editar Detalle</h2>
            <p>Solo cambiará la descripción del item más no el tipo del item</p>
            <!-- Mostrar el tipo del detalle -->
            <form id="formularioEditarDetalle" method="POST" action="/editar_detalle_cxc">
                <input type="hidden" id="detalle_id" name="detalle_id">
                <input type="hidden" name="edificio_id" value="{{ edificio_id }}">
                <div class="formulario">
                    <div class="from_imput">
                        <input type="text" id="descripcion" name="descripcion" placeholder="Editar Descripción">
                        <input type="number" id="monto" name="monto" placeholder="Editar monto">
                    </div>
                    <div class="from_bon">
                        <button class="boton_edit" type="submit"><i class="fas fa-check"></i>Guardar Cambios</button>
                    </div>
                </div>
            </form>
        </div>
    </div>    
    
    <script>
        // Función para actualizar ambas gráficas

        function webdomotycort() {
            var url = 'https://yomar009.github.io/domyclip/';
            window.open(url, '_blank');
        }
        function cambiarPestana(pestaña) {
            window.location.href = `/dashboard/${nombre_edificio}/${pestaña}`;
        }


        function abrirModalEditarDetalle(detalle_id, descripcion, monto, tipo) {
            var modal = document.getElementById('editarDetalleModal');
            modal.style.display = 'block';
            
            // Llena los campos del formulario con la información del detalle
            document.getElementById('detalle_id').value = detalle_id;
            document.getElementById('descripcion').value = descripcion;
            document.getElementById('monto').value = monto;
        }        
    
        function cerrarModalEditarDetalle() {
            var modal = document.getElementById('editarDetalleModal');
            modal.style.display = 'none';
        }

        // Cierra el modal si el usuario hace clic fuera de él
        window.onclick = function(event) {
            var modals = document.querySelectorAll('.modal');
            modals.forEach(function(modal) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            });
        }

        function validarFormulario(event) {
            // Obtener los valores de los campos de texto y número
            var descripcion = document.querySelector('input[name="descripcion"]').value;
            var monto = document.querySelector('input[name="monto"]').value;

            // Verificar si los campos están vacíos
            if (descripcion.trim() === '' || monto.trim() === '') {
                // Mostrar un mensaje de error o hacer cualquier acción que desees
                alert('Por favor, completa todos los campos.');
                // Evitar que el formulario se envíe
                event.preventDefault();
            } else {
                // Si los campos tienen valores, el formulario se envía normalmente
                // No necesitas hacer nada más aquí
            }
        }
    </script>
</body>

</html>